
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.title {
    font-size: 3em;
}
.section {
    border: 1px solid #d3d3d3;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}