<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active: panels.isSelected(1)}">
            <a href ng-click="panels.selectTab(1)">Description</a>
        </li>
        <li ng-class="{ active: panels.isSelected(2)}">
            <a href ng-click="panels.selectTab(2)">Specifications</a>
        </li>
        <li ng-class="{ active: panels.isSelected(3)}">
            <a href ng-click="panels.selectTab(3)">Reviews</a>
        </li>
    </ul>

    <description-panel class="panel" ng-show="panels.isSelected(1)"></description-panel>

    <spec-panel class="panel" ng-show="panels.isSelected(2)"></spec-panel>

    <review-panel class="panel" ng-show="panels.isSelected(3)"></review-panel>
</section>