html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404040;
}

.title {
    font-size: 3em;
    text-align: center;
}
.level {
    text-align: center;
}
.section {
    border: 1px solid #d3d3d3;
    padding: 10px;
    width: 960px;
    margin: 10px auto;
}
.name-input{
    margin-bottom: 10px;
}

.submit{
    margin-top: 10px;
    padding:5px;
}

#armory, #mySword {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px dashed lightgrey;
    max-width: 200px;
}